@import "../variables";

.button {
  padding: .5rem;
  border: none;
  cursor: pointer;
  transition: .7s;
  margin-top: 1rem;

  &__primary {
    background: $gray-extra-dark;
    color: #fff;

    &:hover {
      background: $gray-dark;
    }
  }
}